@import url('https://fonts.cdnfonts.com/css/exo-2');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(255,209,175);
    background: linear-gradient(180deg, rgba(255,209,175,1) 0%, rgba(255,255,255,1) 100%);
    font-family: 'Exo 2', sans-serif;
}
